* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #1E90FF; /* Блакитний */
    color: #fff;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar-item {
    position: relative;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px 0;
}

.navbar-link::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #FFD700; /* Жовтий */
    width: 0;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar-link:hover {
    color: #FFD700; /* Жовтий */
}

.navbar-link:hover::after {
    width: 100%;
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-login-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-login-link:hover {
    color: #FFD700; /* Жовтий */
}

.avatar-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}
